@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";

.leaflet-container {
  position: absolute;
  right: 0;
  width: calc(100vw - 300px);
  height: 100vh;
  background: #17a9d0;
}

.sideUi {
  position: fixed;
  height: 100vh;
  width: 300px;
  background-color: #2f343c;
}

.zIndex {
  z-index: 251254;
}
.bp4-popover2-transition-container {
  z-index: 21412412;
}

.marker {
  position: relative;
  transform: translateX(7px) translateY(-36px);

  & svg {
    transform: translateX(-9.5px) translateY(7px);
  }

  & + img {
    position: absolute;
    transform: translateX(-8px) translateY(-53px);
    z-index: -1;
  }
  &::after {
    position: absolute;
    margin-bottom: 55px;
    content: "";
    top: 0;
    right: 0;
    width: 35px;

    height: 35px;
    z-index: -1;
    background: linear-gradient(
      130deg,
      rgb(10, 174, 238) 0% 50%,
      rgba(10, 174, 238, 0.107) 99.5% 100%
    );

    border: 1px solid rgba(0, 0, 0, 0.092);
    border-top-left-radius: 50%;
    border-top-right-radius: 50% 100%;
    border-bottom-left-radius: 100% 50%;
    border-bottom-right-radius: 0%;
    transform: rotate(45deg);
  }
}

.leaflet-div-icon {
  background: none;
  border: none;
}

.leaflet-overlay-pane {
  z-index: unset;
}
// .leaflet-pane {
//   z-index: unset;
// }

#overlay {
  z-index: 25125125;

  & div {
    z-index: 2512521;
  }
}

.edit_popup {
  width: 260px;
}
.overlay {
  z-index: 12412412;
  &Animate {
    &-enter {
      opacity: 0;
    }
    &-enter-active {
      opacity: 1;
      transition: opacity 200ms;
    }
    &-exit {
      opacity: 1;
    }
    &-exit-active {
      opacity: 0;
      transition: opacity 200ms;
    }
    transition: all 0.5s linear;
  }
}

.editOverlay {
  left: calc(50vw);
  margin: 10vh 0;
  top: 0;
  width: 400px;
}
